.container {
  margin: auto;
  max-width: 500px;
  font-family: sans-serif;
}

.heading {
  color: rebeccapurple;
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  color: black;
}

.site-title {
  font-size: 3rem;
  color: gray;
  font-weight: 700;
  margin-top: 3.25rem;
}

.btn-small-promo{
    word-spacing: -3px;
    position: absolute;
    width: 94px;
    height: 40px;
    left: 260px;
    margin-left: auto;
    margin-right: auto;
    bottom: 242.5px;
    border: unset;
    text-align: left;
    font: normal normal bold 14px/19px Roboto;
    letter-spacing: -0.28px;
    color: #303189;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 0.7;
    padding: 10px 15px;
}
